@{
    ViewBag.Title = "Home Page";
    Layout=  "~/Views/Shared/LayoutNew.cshtml";
}
    <link href="~/Asset/index.css" rel="stylesheet" type="text/css" />
    <div class="store">
        <section class="slider_section  slider_banner">
            <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item">
                        <img class="first-slide" src="../img/banner.jpg" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption relative">
                                <span>TẤT CẢ ĐIỆN THOẠI MỚI </span>
                                <h1>GIẢM ĐẾN 25%</h1>
                                <!-- <p>It is a long established fact that a reader will be distracted by the readable content
                                <br> of a page when looking at its layout. The point of using Lorem Ipsum is that
                            </p> -->
                                <a class="buynow" href="#">Mua Ngay</a>
                                <ul class="social_icon">
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <img class="second-slide" src="../img/banner.jpg" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption relative">
                                <span>TẤT CẢ ĐIỆN THOẠI MỚI </span>
                                <h1>GIẢM ĐẾN 25%</h1>

                                <a class="buynow" href="#">Mua Ngay</a>
                                <ul class="social_icon">
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="third-slide" src="../img/banner.jpg" alt="Third slide">
                        <div class="container">
                            <div class="carousel-caption relative">
                                <span>TẤT CẢ ĐIỆN THOẠI MỚI </span>
                                <h1>GIẢM ĐẾN 25%</h1>

                                <a class="buynow" href="#">Buy Now</a>
                                <ul class="social_icon">
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </section>
        <div class="about">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                        <div class="about_img">
                            <figure><img src="../img/about.png" alt="img"></figure>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                        <div class="about_box">
                            <h3>Thông Tin Về Chúng Tôi</h3>
                            <span>Cửa Hàng Di Động Của Chúng Tôi</span>
                            <p>
                                Công ty Cổ phần Đầu tư Thế Giới Di Động (MWG) là nhà bán lẻ số 1 Việt Nam về doanh thu và lợi nhuận, với mạng lưới gần 4.000 cửa hàng trên toàn quốc. MWG vận hành các chuỗi bán lẻ thegioididong.com, Điện Máy Xanh, Bách Hoá Xanh.
                                Ngoài ra, MWG đã mở rộng ra thị trường nước ngoài với chuỗi bán lẻ điện thoại và điện máy tại Campuchia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage">
                            <h2>MẪU ĐIỆN THOẠI</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="brand-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                            <div class="brand_box">
                                <img src="../img/1.png" alt="img">
                                <h3>$<strong class="red">100</strong></h3>
                                <span>Mobile Phone</span>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                            <div class="brand_box">
                                <img src="../img/2.png" alt="img">
                                <h3>$<strong class="red">100</strong></h3>
                                <span>Mobile Phone</span>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                            <div class="brand_box">
                                <img src="../img/3.png" alt="img">
                                <h3>$<strong class="red">100</strong></h3>
                                <span>Mobile Phone</span>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                            <div class="brand_box">
                                <img src="../img/4.png" alt="img">
                                <h3>$<strong class="red">100</strong></h3>
                                <span>Mobile Phone</span>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                            <div class="brand_box">
                                <img src="../img/5.png" alt="img">
                                <h3>$<strong class="red">100</strong></h3>
                                <span>Mobile Phone</span>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                            <div class="brand_box">
                                <img src="../img/6.png" alt="img">
                                <h3>$<strong class="red">100</strong></h3>
                                <span>Mobile Phone</span>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                                <i><img src="../img/star.png"></i>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a class="read-more" href="../Shop/shop.html">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients" id="clientss">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage">
                            <h2>Khách hàng nói gì về chúng tôi</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients_red">
            <div class="container">
                <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#testimonial_slider" data-slide-to="0" class=""></li>
                        <li data-target="#testimonial_slider" data-slide-to="1" class="active"></li>
                        <li data-target="#testimonial_slider" data-slide-to="2" class=""></li>
                    </ul>
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class="testomonial_section">
                                <div class="full center">
                                </div>
                                <div class="full testimonial_cont text_align_center cross_layout">
                                    <div class="cross_inner">
                                        <h3>FPT<br><strong class="ornage_color">Đánh giá</strong></h3>
                                        <p>
                                            Chất lượng phục vụ tốt
                                        </p>
                                        <div class="full text_align_center margin_top_30">
                                            <img src="../img/testimonial_qoute.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="testomonial_section">
                                <div class="full center">
                                </div>
                                <div class="full testimonial_cont text_align_center cross_layout">
                                    <div class="cross_inner">
                                        <h3>FPT<br><strong class="ornage_color">Đánh giá</strong></h3>
                                        <p>
                                            Chất lượng phục vụ tốt
                                        </p>
                                        <div class="full text_align_center margin_top_30">
                                            <img src="../img/testimonial_qoute.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testomonial_section">
                                <div class="full center">
                                </div>
                                <div class="full testimonial_cont text_align_center cross_layout">
                                    <div class="cross_inner">
                                        <h3>FPT<br><strong class="ornage_color">Đánh giá</strong></h3>
                                        <p>
                                            Chất lượng phục vụ tốt
                                        </p>
                                        <div class="full text_align_center margin_top_30">
                                            <img src="../img/testimonial_qoute.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>