@model ShopPhone.Models.PhoneModel.Phone

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutNew.cshtml";
}
<link rel="stylesheet" href="~/Asset/ProductDetails.css">
<div class="container mt-5">
    <div class="row body_product">
        <div class="col-md-5 col-sm-12">
            <div class="carousel slide" data-ride="carousel" id="carousel-1">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active"><img class="img-thumbnail w-100 d-block" src="/@Model.Image" alt="Slide Image" loading="lazy"></div>
                </div>
                <div>
                    <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span>
                    </a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span><span class="sr-only">Next</span>
                    </a>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
        <div class="col-md-7">
            <h4>@Model.Name</h4>
            <div class="price"><span class="mr-2"><i class="fa fa-rupee text-success"></i>&nbsp;@Model.Price</span></div>
            <div class="d-flex flex-row">
                <div class="icons mr-2">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
                </div>
                <span>1200 ratings &amp; 564 reviews</span>
            </div>
            <div class="d-flex align-items-center mt-5 delivery"><i class="fa fa-map-marker"></i><span class="ml-2">Delivery by 23 Jul, Tuesday<br></span><span class="ml-2 mr-2">|<br></span><span class="ml-2 mr-2 text-success">FREE<br></span></div>
            <hr>
            <input type="radio" id="male" name="gender" value="male"><label for="male">126GB</label>
            <input type="radio" id="male" name="gender" value="male"><label for="male">216GB</label>
            <input type="radio" id="male" name="gender" value="male"><label for="male">512GB</label>
            <div><span class="font-weight-bold">Công ty:</span><span class="ml-2">THuận</span></div>
            <div class="mt-3">
                <button class="btn btn-dark mr-2" type="button"><a href="../Card/card.html">MUA NGAY</a></button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="dst-fcontent">
                <ul class="nav nav-tabs dst-tabs">
                </ul>
                <div class="tab-content">
                </div>
            </div>
            <div class="dst-content">
                <h2 class="dst-ctitle">Đánh giá chi tiết</h2>
                <article class="area_article area_articleFull" style="">
                    <p style="text-align: center;"><iframe loading="lazy" src="https://www.youtube.com/embed/videoseries?list=PL7ZykuRVsu_wCBB29BtBoK1dW7VquJzo4" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen" class="col-sm-12"></iframe></p>
                    <p>
                        <strong>
                            Tại sao nên mua iPhone XR 64GB Chính Hãng VN/A tại Di Động Thông
                            Minh?&nbsp;
                        </strong>
                    </p>
                    <p>
                        Bên cạnh iPhone Xs, Xs Max, đừng quên rằng Apple còn giới thiệu mẫu&nbsp;<strong>
                            iPhone
                            XR
                        </strong>&nbsp;với nhiều điểm nhấn từ giá bán, hiệu năng cho tới những màu sắc vô cùng trẻ trung, năng động nhưng vẫn không kém sang trọng so với những sản phẩm còn lại. Ngay dưới đây là 3 lý do tại sao bạn nên mua iPhone
                        XR mới trong năm 2019 thay vì&nbsp;<a href="https://didongthongminh.vn/iphone-x">
                            iPhone
                            X
                        </a>&nbsp;hay&nbsp;<a href="https://didongthongminh.vn/iphone-8-plus">
                            iPhone 8
                            Plus
                        </a>&nbsp;với mức giá gần như tương đương nhau.
                    </p>
                    <p>
                        <img src="../img/realme-q3-pro-carnival-edition-official-1.png" alt="Thời lượng pin trên iPhone XR tốt hơn khá nhiều so với iPhone X " width="700 " height="394 " class="img-title">
                    </p>
                    <p><b>Hiệu năng khoẻ, pin trâu vô địch</b></p>
                    <p>
                        iPhone XR 64gb chính hãng VN/A sở hữu một hiệu năng cực kì mạnh mẽ cùng con chip Apple A12 tương tự như XS XS Max. Một lần nữa cần phải nhấn mạnh lại XR cùng cấu hình nhưng giá bán lại rẻ hơn tới vài triệu đồng sẽ đáng để cân nhắc
                        nếu như chỉ quan tâm cấu hình để chiến game. Không có quá nhiều điều để nói về con chip A12 mới, đơn giản vì nó vừa ra mắt cuối năm ngoái thôi và đang cực kì bá đạo ở thời điểm hiện tại. Cùng với hiệu năng, thời lượng pin cũng
                        là 1 điểm nhấn khác trên iPhone XR.
                    </p>
                    <p>
                        Máy được trang bị viên pin dung lượng gần 3000mAH, thấp hơn 1 chút so với XS Max nhưng thời lượng pin sử dụng thực tế lại vượt trội hơn lý do bởi máy có màn hình nhỏ hơn, độ phân giải thấp hơn cũng như tấm nền LCD sẽ không tốn
                        nhiều pin bằng màn hình SuperAMOLED.
                    </p>
                    <p>
                        <img src="../img/product1.png " sizes="(max-width: 700px) 100vw, 700px " class="img-title" alt=" Không tựa game nặng nào có thể làm khó được iPhone XR " width=" 700 " height=" 394 ">
                    </p>
                    <p>
                        Theo đánh giá của GSMArena – 1 chuyên trang công nghệ, iPhone XR chính hãng vn/a với viên pin đầy 100% có thể cho thờgi gian đàm thoại liên tục trong 15 tiếng, phát video liên tục trong hơn 15 tiếng đồng hồ, những thông số cực
                        kì ấn tượng khó có thể tìm kiếm được trên 1 chiếc điện thoại. Thời gian sạc đầy viên pin của máy là 3 tiếng, nếu sử dụng củ sạc <a href=" https://didongthongminh.vn/apple-ipad ">iPad</a>, thơi gian sẽ được rút ngắn lại còn
                        khoảng 2 tiếng đồng hồ.
                    </p>
                    <p><strong>Nhiều tính năng hiện đại</strong></p>
                    <p>
                        Mặc dù được định danh là 1 sp giá rẻ nhưng&nbsp;iPhone XR&nbsp;lại không hề trông rẻ tiền 1 chút nào. Thực tế khi cầm máy vẫn mang lại cho người dùng cảm giác sang trọng, đẳng cấp với ngôn ngữ thiết kế hiện đại được kết hợp từ
                        2 mặt kính cường lực bền bỉ. Bên cạnh đó với XR, các bạn sẽ có nhiều tuỳ chọn về màu sắc hơn bên cạnh đỏ, đen, vàng truyền thống như màu cam, màu xanh dương tuỳ theo sở thích của mỗi người.
                    </p>
                    <p>
                        Máy vẫn được tích hợp công nghệ mở khoá khuôn mặt 3D FaceID tương tự như iPhone Xs, Xs Max. Camera đơn nhưng có hỗ trợ chụp ảnh xoá phông bằng phần mềm rất tốt, vượt trội hơn hẳn so với những đối thủ Android khác, thậm chí 2 camera
                        cũng không thể đọ lại được chiếc máy này.
                    </p>
                    <p>
                        <img src=" ../img/product3.png " alt=" Những lý do nên mua iPhone XR thay vì iPhone X " width=" 700 " height=" 394" class=" img-title ">
                    </p>
                    <p>
                        Tổng kết lại, iPhone XR 64gb chính hãng vn/a là sản phẩm được bán tại di động thông minh với giá rẻ nhất thị trường hiện nay, có ngoại hình sang trọng, bắt mắt, hiệu năng rất khoẻ cùng con chip
                        <a href=" https://www.apple.com/ ">Apple</a> A12 và thời lượng pin cực kì trâu cho 1-2 ngày sử dụng thoải mái mới cần phải sạc lại.
                    </p>
                    <p>
                        Hiện những sản phẩm&nbsp;iPhone XR chính hãng&nbsp;vn/a đã và đang sẵn hàng tại các showroom của
                        <a href=" https://didongthongminh.vn/ ">Di Động Thông Minh</a>&nbsp;trên toàn quốc, mời các bạn cùng qua cửa hàng trải nghiệm và mua hàng. Chúc các bạn sẽ chọn mua được một sản phẩm ưng ý tại Di Động Thông Minh.
                    </p>
                </article>
                <p class=" show-more " style=" display: none; " onclick=" showArticle(); ">
                    <a href=" javascript:; " class=" readmore ">Đọc thêm </a>
                </p>
            </div>
            <div class=" dst-reviews " id=" dst-reviews ">
                <h3 class=" dst-ctitle ">17 Đánh giá iPhone XR 64Gb Chính Hãng VN/A</h3>
                <div class=" stat-rating ">
                    <div class=" dst-dtrt dstars ">
                        <div class=" dst-mk ">5/5</div>
                        <div class=" dstar ">
                            <div class=" star-rating " role=" img " aria-label=" Được xếp hạng 4.76 5 sao ">
                                <span style=" width:95.2% ">
                                    Được xếp hạng <strong class=" rating ">4.76</strong> 5
                                    sao
                                </span>
                            </div>
                        </div>
                        <a href=" https://didongthongminh.vn/iphone-xr-64gb-moi-chinh-hang#reviews ">
                            17 đánh giá
                            <!-- &amp; nhận xét -->
                        </a>
                    </div>
                    <div class=" dst-dtrt ">
                        <ul class=" dst-rstar ">
                            <li>
                                <span class=" dst-msr ">5 <i class=" fa fa-star " aria-hidden=" true "></i></span>
                                <span class=" progress ">
                                    <span class=" progress-bar " role=" progressbar " aria-valuenow=" 76 "
                                          aria-valuemin=" 0 " aria-valuemax=" 100 " style=" width:76% ">
                                        <span class=" sr-only ">100% Complete</span>
                                    </span>
                                </span>
                                <span class=" dst-mpl " style=" color: #3988c8; ">13 đánh giá</span>
                            </li>
                            <li>
                                <span class=" dst-msr ">4 <i class=" fa fa-star " aria-hidden=" true "></i></span>
                                <span class=" progress ">
                                    <span class=" progress-bar " role=" progressbar " aria-valuenow=" 24 "
                                          aria-valuemin=" 0 " aria-valuemax=" 100 " style=" width:24% ">
                                        <span class=" sr-only ">100% Complete</span>
                                    </span>
                                </span>
                                <span class=" dst-mpl " style=" color: #3988c8; ">4 đánh giá</span>
                            </li>
                            <li>
                                <span class=" dst-msr ">3 <i class=" fa fa-star " aria-hidden=" true "></i></span>
                                <span class=" progress ">
                                    <span class=" progress-bar " role=" progressbar " aria-valuenow=" 24 "
                                          aria-valuemin=" 0 " aria-valuemax=" 100 " style=" width:15% ">
                                        <span class=" sr-only ">100% Complete</span>
                                    </span>
                                </span>
                                <span class=" dst-mpl " style=" color: #3988c8; ">4 đánh giá</span>
                            </li>
                            <li>
                                <span class=" dst-msr ">2 <i class=" fa fa-star " aria-hidden=" true "></i></span>
                                <span class=" progress ">
                                    <span class=" progress-bar " role=" progressbar " aria-valuenow=" 24 "
                                          aria-valuemin=" 0 " aria-valuemax=" 100 " style=" width:5% ">
                                        <span class=" sr-only ">100% Complete</span>
                                    </span>
                                </span>
                                <span class=" dst-mpl " style=" color: #3988c8; ">0 đánh giá</span>
                            </li>
                            <li>
                                <span class=" dst-msr ">1 <i class=" fa fa-star " aria-hidden=" true "></i></span>
                                <span class=" progress ">
                                    <span class=" progress-bar " role=" progressbar " aria-valuenow=" 24 "
                                          aria-valuemin=" 0 " aria-valuemax=" 100 " style=" width:0% ">
                                        <span class=" sr-only ">100% Complete</span>
                                    </span>
                                </span>
                                <span class=" dst-mpl " style=" color: #3988c8; ">0 đánh giá</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-5 ThongSo">
            <div class=" dst-attr " id=" patt ">
                <h2 class=" dst-ctitle ">Thông số kỹ thuật</h2>
                <div style=" display:none;margin:15px auto;text-align:center;font-size:16px; ">
                    iPhone XR 64Gb Chính Hãng VN/A
                </div>
                <table class=" shop_attributes ">
                    <tbody>
                        <tr class=" td2 ">
                            <th>Băng tần - Sim</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/bang-tan-sim/2g3g " rel=" tag ">2G/3G</a>,
                                    <a href=" https://didongthongminh.vn/bang-tan-sim/lte " rel=" tag ">LTE</a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>Màn hình</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/man-hinh/ips-lcd-6-1-inches " rel=" tag ">
                                        IPS
                                        LCD , 6.1 inches
                                    </a>
                                </p>
                            </td>
                        </tr>
                        <tr class=" td2 ">
                            <th>CPU</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/cpu/apple-a12-bionic " rel=" tag ">
                                        Apple
                                        A12
                                        Bionic
                                    </a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>RAM</th>
                            <td>
                                <p><a href=" https://didongthongminh.vn/ram/3-gb " rel=" tag ">3 GB</a></p>
                            </td>
                        </tr>
                        <tr class=" td2 ">
                            <th>Bộ nhớ trong</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/bo-nho-trong/64-gb " rel=" tag ">64 GB</a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>Camera sau</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/camera-sau/12-mp " rel=" tag ">12 MP</a>
                                </p>
                            </td>
                        </tr>
                        <tr class=" td2 ">
                            <th>Camera trước</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/camera-truoc/7-0-mp " rel=" tag ">
                                        7.0
                                        MP
                                    </a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>Sim</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/sim/dual-sim-nano-sim-and-esim " rel=" tag ">
                                        Dual
                                        SIM (nano-SIM and eSIM)
                                    </a>
                                </p>
                            </td>
                        </tr>
                        <tr class=" td2 ">
                            <th>Cảm biến</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/cam-bien/face-id-accelerometer-gyro-proximity-compass-barometer " rel=" tag ">
                                        Face ID, accelerometer, gyro, proximity, compass,
                                        barometer
                                    </a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>Bảo mật nâng cao</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/bao-mat-nang-cao/faceid " rel=" tag ">FaceID</a>
                                </p>
                            </td>
                        </tr>
                        <tr class=" td2 ">
                            <th>Pin</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/pin/li-ion-2942-mah " rel=" tag ">
                                        Li-Ion
                                        2942
                                        mAh
                                    </a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>Màu sắc</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/mau-sac/cam " rel=" tag ">Cam</a>, <a href=" https://didongthongminh.vn/mau-sac/den " rel=" tag ">Đen</a>, <a href=" https://didongthongminh.vn/mau-sac/do " rel=" tag ">Đỏ</a>,
                                    <a href=" https://didongthongminh.vn/mau-sac/trang " rel=" tag ">Trắng</a>, <a href=" https://didongthongminh.vn/mau-sac/vang " rel=" tag ">Vàng</a>, <a href=" https://didongthongminh.vn/mau-sac/xanh-duong
                                    " rel=" tag ">
                                        Xanh
                                        Dương
                                    </a>
                                </p>
                            </td>
                        </tr>
                        <tr class=" td2 ">
                            <th>Tình trạng sản phẩm</th>
                            <td>
                                <p>
                                    <a href=" https://didongthongminh.vn/tinh-trang-san-pham/moi " rel=" tag ">New</a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=" dst_quickby ">
                <h3 class=" product_title entry-title ">
                    iPhone XR 64Gb Chính Hãng VN/A <span class=" dst_subtitle ">
                        (Phiên
                        Bản Hộp Mới)
                    </span>
                </h3>
                <span id=" giss "></span>
                <div class=" dst-km ">
                    <img src=" ../img/product1.png " alt=" ">
                    <h3>Khuyến mãi và Ưu đãi</h3>
                    <div class=" jkem " id=" jc_kems ">
                        <p>.</p>
                    </div>
                </div>
                <button type=" submit " id=" dst_dsmua " class=" single_add_to_cart_button button alt ">
                    MUA
                    NGAY<span>
                        Miễn
                        phí giao hàng tận nơi
                    </span>
                </button>
            </div>

        </div>
    </div>
</div>